body {
    margin: 0;
    padding: 0;
}

a {
    color: white;
    font-family: monospace;
}


.nigga{
    width: 43%;
    height: 850px;
    background-color: black;
    margin-left: 26.5%;
    margin-right: 26.5%;

}

.baratto {
    width: 100%;
    height: 100vh;
    background-image: url(../Immagini/Home.jpg);
    display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-self: center;
}

.topbar {
    text-decoration: none;
    margin: 15px;
    margin-left: 35px;
    font-family: monospace;
    font-size: 30px;
}

a:hover {
    transition-duration: 0.1s;
    color: grey;
    
}

.home {
    color: blue;
}